<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toyproject.discordclone.dao.USERDao">
    <insert id="createUser" >
        insert
            USER(email, password, name, avatar, is_enabled, certified_key)
            values
            (#{email}, #{password}, #{name}, #{avatar}, 0, #{certified_key})
    </insert>
    <select id="getUser" resultType="com.toyproject.discordclone.dto.USERDto">
        select
            *
        from
            USER
        where email = #{email}
    </select>
    <update id="setUserEnabled">
        update
            USER
        set
            isEnabled = 1
        where
            email = #{email}
        and
            certified_key = #{certified_key}
    </update>
</mapper>